.bg-test {
    background-color: rgba(237, 237, 243, 1);
    position: absolute !important;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    width: 100%;
}