.response {
    width: 100%;
    height: 100%;
}
.jsp {
    margin-bottom: 20%;
}
.foucault {
    background-image: url(../images/foucault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    height: 500px;
    width: 500px;
}
.qstn {
    background-color: rgba(255, 255, 255, 0.8);
}